/* ul > li {
  list-style: none;
} */
.row > ul > .column > li{
  list-style: none;
}

#header{
  text-align: center;
  background-color: black;
  color: white;
  padding:10px;
}

#footer{
  text-align:center;
}

#sideinfo{
  float:right;
  background-color: #f4f4f4;
  width:58%;
  border:2px #333 solid;
  padding-left: 5px;
  padding-right: 5px;
  margin-top:2px;
}

#pic{
  animation: ease-in-out;
}


body{
  font:16px Helvetica, Sans-serif;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.6em;
}

h1{
  word-spacing: normal;
}

h3{
  font-size: 10;
  font-weight:700;
}

a{
  color: black;
  text-decoration:none;
}

a:hover{
  color:coral;
}

a:visited{
  color:indigo;
}

.row ul{
  display: flex;
  justify-content:center;
}

.row{
  display: flex;
  justify-content:space-around;
}

.column {
  margin-top:25px;
  padding-left:90px;
  padding-right:100px;
  background-color: #f4f4f4;
}

.container{
  width: 80%;
  margin: auto;
}

.skill-1{
  background-color: #f4f4f4;
  padding:16px;
  border: 1px #ccc solid;
  width:32%;
}

.skillset{
  display: flex;
  justify-content: space-around;
}

.hobby{
  background-color: #f4f4f4;
  padding:16px;
  width:49%;
  margin: 16px 10px;
}

  .hobbies{
    display:flex;
  }

.experience-1{
  background-color: #f4f4f4;
  padding:16px;
}

s  /* change flex direction to column */
  .hobbies{
    flex-diretion: column;}
  }

/* .row > ul > .column > li{
  list-style: none;
/* } */



.button{
  background-color:#f4f4f4;
  padding:5px 5px;
  width:50px;
}

.fix-me{
  right:100px;
  position:fixed;
  top:360px;
}

i{
  margin-right: 20px;
  animation: spin 4000 ease-in-out;
}

/*1.nav 怎么排列成均匀分布的flex？
2. sideinfo怎么适应页面变化？-width 设置百分比，不要设固定值
3.flex怎么页面过窄时纵向排列？
4.头像animation？
5.怎么去掉list的点？
6.button的设置
7.侧边twitter的设置*/
